<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- By Sanketh Katta "Relax" -->
	<meta charset="utf-8" />
	<!-- My Master Stylesheet -->
	<link rel="Stylesheet" type="text/css" href="/stylesheets/style.css"/>
	<!-- jQuery v1.7.1 (minified production version -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!-- My Master Scripts file -->
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
	<!-- Google Fonts Place Below:-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="favicon.ico" type="image/ico" />
	<title>Just Relax</title>
</head>
<body>
<%= user %>
<div id="content">
	<div id="loginWrapper">
		<div id="login">Login</div>
	</div>
	<div id="loginFormWrapper">
		<div id="loginForm">
			<form id="createLoginForm">
				<input id="createUser" type="text" name="username" placeholder="Username" />
				<input id="createPass" type="password" name="password" placeholder="Password" />
				<input id="submitCreateLogin" type="submit" value="Login" />
			</form>
		</div>
	</div>
	<h1>Relax</h1>
	<h2>For five minutes, just do nothing</h2>
	<div id="start">Ready?</div>
	<div id="timer">5:00</div>
	<div id="progressWrapper"><div id="progress"></div></div>
	<div id="message"></div>
	<div id="commentWrapper">
		<form id="journalForm">
		<textarea id="comment" class="faded" name="comment">How did you feel?</textarea>
		<div id="submitWrapper"><input id="submit" type="submit" value="Submit" /></div>
		</form>
	</div>
	<div id="submit">
	<object data="http://www.youtube.com/v/cU1VFErmUGA&autoplay=1" type="application/x-shockwave-flash"></object>
</div>
</body>
</html>

