html, body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: Open Sans;
	background: #EDECCE; 
/* IE10 */ 
background-image: -ms-radial-gradient(center, circle cover, #EDECCE 30%, #C99C62 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle cover, #EDECCE 30%, #C99C62 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle cover, #EDECCE 30%, #C99C62 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 510, color-stop(.30, #EDECCE), color-stop(1, #C99C62));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle cover, #EDECCE 30%, #C99C62 100%);

/* Proposed W3C Markup */ 
background-image: radial-gradient(center, circle cover, #EDECCE 30%, #C99C62 100%);
	
}

h1, h2 {
	/* color: #333 */
	color: #E45B3C; 
	margin: 0px;
	header: 0px;
	text-align: center;
	cursor: default;

}
h1 {
	font-size: 600%;
}
h2 {
	font-size: 300%;
	/*color: #777;*/
	color: #5D7271;

}
#timer {
	margin: 50px 0px 0px 0px;
	font-size: 400%;
	text-align: center;
	color: #333;
	display: none;
	cursor: default;
}

#start {
	width: 300px;
	margin: 60px auto 0 auto;
	font-size: 200%;
	text-align: center;
	cursor: pointer;
	color: #fbfbfb;
	padding: 2px;
	font-weight: bold;
	background-color: #C99C62;
	-moz-box-shadow: 0 0 5px #d2d2d2;
	-webkit-box-shadow: 0 0 5px #d2d2d2;
	box-shadow: 0 0 5px #d2d2d2;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

	
#progressWrapper {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	/*background-color: #f0f0f0;*/
	background-color: #F0EDAC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
	
	-moz-box-shadow: 0 0 5px #d2d2d2;
	-webkit-box-shadow: 0 0 5px #d2d2d2;
	box-shadow: 0 0 5px #d2d2d2;

}

#progress {
	/*background-color: #d2d2d2;*/
	background-color: #C99C62;
	height: 100%;
	width: 0px;
	max-width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
}

/*
@-webkit-keyframes startglow {
from { background-color: #d0d0d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
50% { background-color: #f0f0f0;}
to { background-color: #d0d0d0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)}
}*/

@-webkit-keyframes startglow {
from { background-color: #F0EDAC;} 
50% { background-color: #C99C62;}
to { background-color: #F0EDAC;} 
}

#start { /*
-webkit-animation-name: startglow;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
*/

/* IE10 */ 
background-image: -ms-linear-gradient(top, #5D7271 0%, #232B2B 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #5D7271 0%, #232B2B 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #5D7271 0%, #232B2B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5D7271), color-stop(1, #232B2B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #5D7271 0%, #232B2B 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #5D7271 0%, #232B2B 100%);
}


#message {
	margin: 30px;
	font-size: 200%;
	text-align: center;
	cursor: default;
}

object {
	display: none;
	width: 0px;
	height: 0px;
}

#comment {
	width: 100%;
	height: 100px;
	font-size: 200%;
	font-family: Open Sans;
}

#commentWrapper {
	padding-top: 20px;
	margin: 0 auto;
	width: 50%;
	display: none;	
}

.faded {
	color: #777;
}

#submit {
	margin-top: 10px;
	color: #333;
	border: 0px;
	width: 100%;
	font-size: 200%;
	background: #F0EDAC;
	font-weight: bold;
	-moz-box-shadow: 0 0 5px #d2d2d2;
	-webkit-box-shadow: 0 0 5px #d2d2d2;
	box-shadow: 0 0 5px #d2d2d2;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background linear 0.3s;
	-moz-transition: background linear 0.3s;
	-ms-transition: background linear 0.3s;
	-o-transition: background linear 0.3s;
	transition: background linear 0.3s;


}

#submit:hover {
	background: #C99C62;
	-webkit-transition: background linear 0.3s;
	-moz-transition: background linear 0.3s;
	-ms-transition: background linear 0.3s;
	-o-transition: background linear 0.3s;
	transition: background linear 0.3s;
}

#submitWrapper {
	margin: 0 auto;
	width: 50%;
}
